################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Techtalk.API/bin/Debug/net7.0
/Techtalk.API/obj
/Techtalk.API/Techtalk.API.csproj.user
/TechTalk.DBEngine/bin/Debug/net7.0
/TechTalk.DBEngine/obj/Debug/net7.0
/TechTalk.DBEngine/obj/Release/net7.0
/TechTalk.DBEngine/obj
/TechTalk.Framework/bin/Debug/net7.0
/TechTalk.Framework/obj/Debug/net7.0
/TechTalk.Framework/obj/Release/net7.0
/TechTalk.Framework/obj
/Techtalk.Models/bin/Debug/net7.0
/Techtalk.Models/obj/Debug/net7.0/refint
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.pdb
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.GlobalUsings.g.cs
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.GeneratedMSBuildEditorConfig.editorconfig
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.dll
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.csproj.FileListAbsolute.txt
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.csproj.CoreCompileInputs.cache
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.csproj.BuildWithSkipAnalyzers
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.csproj.AssemblyReference.cache
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.assets.cache
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.AssemblyInfoInputs.cache
/Techtalk.Models/obj/Debug/net7.0/Techtalk.Models.AssemblyInfo.cs
/Techtalk.Models/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Techtalk.Models/obj/Debug/net7.0/ref
/Techtalk.Models/obj/Release/net7.0
/Techtalk.Models/obj
/TechTalk.Repository/bin/Debug/net7.0
/TechTalk.Repository/obj/Debug/net7.0
/TechTalk.Repository/obj/Release/net7.0
/TechTalk.Repository/obj
/Techtalk_api/bin/Debug/net7.0
/Techtalk_api/obj/Debug/net7.0
/Techtalk_api/obj
*.user
/Techtalk_SMS/.vs
/Techtalk_SMS/bin/Debug/net7.0
/Techtalk_SMS/obj/Debug/net7.0
/Techtalk_SMS/obj/Release/net7.0
/Techtalk_SMS/obj
